@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
/* General styling */
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-footer-color: #CBD0D3;
    --font-family-helvetica: Arial, Helvetica, sans-serif;
    --footer-background-color: #A6ADB4;
    --header-background-color: #f6f8f9;
    --pink-text-color: #FA6980; 
}

/* As there are so many elements with uppercase text, in order to avoid repeating the same line of code, it is better to use class for them  */
.uppercase{
    text-transform: uppercase;
}

/* There are many time elements so I style all of them here */
.time{
    display: flex;
    align-items: center;
    gap: 10px;
}

.time span{
    color: var(--description-text-color);
}

/* Lazy imgs */
.lazy-img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s ease-in-out;
}

.lazy-img.loaded{
    opacity: 1;
}

ul{
    list-style: none;
}

a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    user-select: none;
}

button:focus-visible{
    outline: none;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
}


/* Styling header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 20px;
    height: 50px;
    position: sticky;
    background-color: var(--header-background-color);
    top: 0;
    width: 100%;
    z-index: 99;
}

header.active{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* elements that don't appear by default */
.burger-btn, .exit-btn, .filter-btn{
    display: none;
}

.logo{
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font-family-helvetica);
    color: var(--pink-text-color);
}

header nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

header nav ul{
    display: flex;
    gap: 22px;
}

header nav ul li a{
    color: #343638;
    font-size: 11px;
    font-family: var(--font-family-helvetica);
}

header nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--pink-text-color);
    display: block;
    margin: auto;
    transition: 0.3s;
}

header nav ul li a:hover::after {
    width: 100%;
}


header nav ul li a.active{
    font-weight: bold;
}

header nav .user-img-div{
    position: relative;
}

header nav .user-img-div img{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* User info popup */
#user-info{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 2px rgb(111, 111, 111);
    border-radius:  10px;
    border: none;
}

#user-info span{
    font-weight: bold;
}

#user-info .user-info-div{
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    gap: 10px;
    font-size: 15px;
    font-family: 'Playpen Sans', cursive;
}

#user-info .user-info-div #close-user-info-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    font-size: 18px;
}

/* Styling footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--footer-background-color) ;
    padding: 60px;
    width: 100%;
}

footer.fixedBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Footer nav section */
footer .footer-nav{
    display: flex;
    gap: 45px;
}

footer .footer-nav .logo{
    font-family: sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}

footer .footer-nav .links {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

footer .footer-nav .links .list li a{
    color: var(--primary-footer-color);
    font-family: var(--font-family-helvetica);
    font-size: 13px;
    font-weight: bold;
}
/* Footer email subscribe section */
footer .subscribe-div .email-div{
    position: relative;
}

footer .subscribe-div .email-div .email-inp{
    border: none;
    background: none;
    width: 262px;
    height: 40px;
    border: 2px solid var(--primary-footer-color);
    border-radius: 5px;
    padding: 0 20px;
    font-family: var(--font-family-helvetica);
    font-size: 13px;
    color: var(--primary-footer-color);
}

footer .subscribe-div .email-div .email-inp:focus{
    outline: none;
}
footer .subscribe-div .email-div img{
    position: absolute;
    height: 16px;
    top: 12px;
    right: 19px;
    cursor: pointer;
}

footer .subscribe-div p{
    margin-top: 16px;
    color: var(--primary-footer-color);
    font-family: var(--font-family-helvetica);
    font-size: 11px;
}

/* Footer Social Media Section */
footer .social-media ul{
    display: flex;
    gap: 32px;
}

/* Mobile display */
@media (max-width: 490px) {
    /* Header, Footer, logo, user-img */
    header nav ul, header .logo, footer, #user-img{
        display: none;
    }

    header .logo.active{
        display: block;
        color: #A6ADB4;
    }

    /* Burger btn, exit-btn, user-img.active filter-btn */
    .burger-btn, .exit-btn, #user-img.active, .filter-btn{
        display: block;
    }
}