/* Styling header */
:root{
    --primary-footer-color: #CBD0D3;
    --font: Arial, Helvetica, sans-serif;
    --footer-background-color: #A6ADB4;
}

.uppercase{
    text-transform: uppercase;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0 20px;
    height: 50px;
    background-color:#F6F8F9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* Buttons that don't appear on big screen */
.burger-btn, .exit-btn, .filter-btn{
    display: none;
}



.logo{
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font-family-helvetica);
    color: #FA6980;
}

header nav{
    display: flex;
    align-items: center;
    gap: 40px;
}

header nav ul{
    display: flex;
    gap: 22px;
}

header nav ul li a{
    color: #343638;
    font-size: 11px;
    font-family: var(--font-family-helvetica);
}

header nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #FA6980;
    display: block;
    margin: auto;
    transition: 0.3s;
}

header nav ul li a:hover::after {
    width: 100%;
}


header nav ul li a.active{
    font-weight: bold;
}

header nav img{
    cursor: pointer;
}

/* Styling footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--footer-background-color) ;
    padding: 60px;
    width: 100%;
}

footer.fixedBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Footer nav section */
footer .footer-nav{
    display: flex;
    gap: 45px;
}

footer .footer-nav .logo{
    font-family: sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}

footer .footer-nav .links {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

footer .footer-nav .links .list li a{
    color: var(--primary-footer-color);
    font-family: var(--font-family-helvetica);
    font-size: 13px;
    font-weight: bold;
}
/* Footer email subscribe section */
footer .subscribe-div .email-div{
    position: relative;
}

footer .subscribe-div .email-div .email-inp{
    border: none;
    background: none;
    width: 262px;
    height: 40px;
    border: 2px solid var(--primary-footer-color);
    border-radius: 5px;
    padding: 0 20px;
    font-family: var(--font-family-helvetica);
    font-size: 13px;
    color: var(--primary-footer-color);
}

footer .subscribe-div .email-div .email-inp:focus{
    outline: none;
}
footer .subscribe-div .email-div img{
    position: absolute;
    height: 16px;
    top: 12px;
    right: 19px;
    cursor: pointer;
}

footer .subscribe-div p{
    margin-top: 16px;
    color: var(--primary-footer-color);
    font-family: var(--font-family-helvetica);
    font-size: 11px;
}

/* Footer Social Media Section */
footer .social-media ul{
    display: flex;
    gap: 32px;
}

/* Mobile navbar closer */
#closer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3);
}

#closer.active{
    display: block;
}

/* Mobile navbar not active */
#mobile-navbar{
    display: none;
    transition: .5s ease-in-out;
    position: fixed;
}

/* Mobile Navbar */
#mobile-navbar.active{
    bottom: 0;
    height: 100%;
    width: 85%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    box-shadow:5px 0px 20px rgba(0, 0, 0, 0.6);
    z-index: 999;

}
    /* Mobile Navbar header section */

#mobile-navbar.active .header-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 30px;
    background-color: #fff;
    flex:1;
}

#mobile-navbar.active .header-section .logo-close-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-navbar.active .header-section .logo-close-btn button .bi-x-lg{
    color: red;
    font-size: 18px;
}

#mobile-navbar.active .header-section .links ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

#mobile-navbar.active .header-section .links ul li{
    display: flex;
    align-items: center;
    gap: 30px;
}

#mobile-navbar.active .header-section .links ul li.active a{
    font-weight: bold;
}

#mobile-navbar.active .header-section .links ul li img{
    width: 16px;
    height: 16px;
}


    /* Mobile Navbar footer section */
#mobile-navbar.active .footer-section{
    display: flex;
    background-color: var(--footer-background-color);
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    padding: 60px 40px 40px 40px;
}

#mobile-navbar.active .footer-section .links{
    display: flex;
    justify-content: space-between;
}  

#mobile-navbar.active .footer-section .links ul{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

#mobile-navbar.active .footer-section .links ul li{
    color: var(--primary-footer-color);
    font-family: var(--font-family-helvetica);
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

#mobile-navbar.active .footer-section .social-media ul{
    display: flex;
    gap: 23px;
}

/* Mobile display */
@media (max-width: 465px) {
    /* Header, Footer, logo, user-img */
    header nav ul, header .logo, footer, #user-img{
        display: none;
    }

    header .logo.active{
        display: block;
        color: #A6ADB4;
    }

    /* Burger btn, exit-btn, user-img.active filter-btn */
    .burger-btn, .exit-btn, #user-img.active, .filter-btn{
        display: block;
    }
}