/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nunito&family=Oxanium&display=swap');

/* General Styling */
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stiling Body */
body {
    background-color: #e4e4e4;
}

/* Stiling Container and it's Elements*/
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: center;
}

.container .card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 10px;
    width: 300px;
}

.container .card .user-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000000;
    color: gold;
    font-family: 'Fredericka the Great', serif;
    font-size: 40px;
}

.container .card .title {
    margin: 25px 0;
    font-family: 'Oxanium', sans-serif;
}

.container .card .description, .special-id {
    font-family: sans-serif;
    margin-top: 25px;
}

/* Loading */

.container .loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e4e4e4;
    z-index: 1;
}

.container .loading img{
    width: 100px;
}

/* Error Message */
.container .error{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.container .error h1{
    margin: 20px 0;
}

.container .error button{
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    letter-spacing: .1rem;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: .2s ease-in-out;
}

.container .error button:hover{
    background-color: #222222;
}

@media (max-width: 465px) {
    #user-info{
        display: none !important;
    }
    /* Error Msg */
    .container .error h1{
        margin: 10px 0;
        font-size: 20px;
    }

    .container .error button{
        padding: 5px 10px;
        font-size: 10px;
    }
    
    .container img{
        width: 100px;
    }

    /* Loading */
    .container .loading img{
        width: 50px;
    }
}